@import './scss/components/header';
@import './scss/components/introduction';
@import './scss/components/links';
@import './scss/components/figures';
@import './scss/components/projet';
@import './scss/components/footer';
@import './scss/helpers/colors';

/* _______________________________DEFINITIONS GENERAL PARAMETERS_______________________________*/
body{
  font-family: 'Jost';
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2, figcaption {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}
p,button{
  font-size: 15px;
  font-weight: 400;
}
section{
  padding: 5vh;
}
.primary-btn{
  margin:3vh 0;
  text-transform: uppercase;
  background-color: $white;
  border-radius: 8px;
  padding: 2vh;
  border: none;
  z-index: 99;
  transition: 0.3s;
}
.primary-btn:hover{
  background-color: $orange-hover;
  color: $white;
  cursor: pointer;
}

.group-logo{
  display: flex;
  align-items: center;
  p{
    text-transform: uppercase;
    margin-left:2vh;
    font-size: 24px;
    letter-spacing: 8px;
    font-weight: 500;
  }
  .white-logo{
    color: $white;
  }
}

/* ______________________________________RESPONSIVE______________________________________*/
@media screen and (min-width:800px){
  /* __________General parameters__________*/
  main{
    padding: 0 20vh;
  }
  section{
    padding: 5vh 0;
  }
  h1{
    font-size: 48px;
    line-height: 48px;
  }
  p{
    font-size: 16px;
    line-height: 26px;
  }
  h2{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
  }
}